# Telegram Bot
python-telegram-bot==20.7

# HTTP клиент для API запросов
httpx~=0.25.2

# Планировщик задач
APScheduler==3.10.4

# База данных
sqlalchemy==2.0.25

# Работа с переменными окружения
python-dotenv==1.0.0

# Работа с датами
python-dateutil==2.8.2

# Логирование
colorlog==6.8.0
